{% load thumbnail %}
<article>
    <ul>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
      <li>
        Автор:
        {% if post.author.get_full_name %}
          {{ post.author.get_full_name }}
        {% else %}
          {{ post.author }}
        {% endif %}
      </li>
      <li>
        {% if post.group %}
          Пост группы: {{ post.group.title }}
        {% else %}
          <span style='color: red'>Этой публикации нет ни в одном сообществе.</span>
        {% endif %}
      </li>
    </ul>
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{ post.text|linebreaks }}</p>
    <a class="btn btn-lg btn-primary" href="{% url 'posts:post_detail' post.id %}">Просмотр</a>
    {% if post.group %}
            <a class="btn btn-lg btn-primary" href="{% url 'posts:group_list' post.group.slug %}">Просмотр группы {{ post.group.title }}</a>
    {% endif %}
    <a class="btn btn-lg btn-primary" href="{% url 'posts:profile' post.author %}">Просмотр постов {{ post.author }}</a>
    {% if not forloop.last %}<hr>{% endif %}
</article>